<!DOCTYPE html>
<html>
<head>
@if (ViewBag.JsUIFrameworkType == "4")
{
    <base href="/angularspa/exruleseditor/exruleseditor/editor2">
}
@if (ViewBag.JsUIFrameworkType == "2" || ViewBag.JsUIFrameworkType == "3")
{
    <base href="/">
}
<meta charset="utf-8" />
<title>@ViewBag.Title</title>
@System.Web.Optimization.Styles.Render("~/Content/css")
@if (ViewBag.JsUIFrameworkType == "2")
{
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="Scripts2/node_modules/core-js/client/shim.min.js"></script>
    <script src="Scripts2/node_modules/zone.js/dist/zone.js"></script>
    <script src="Scripts2/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="Scripts2/node_modules/systemjs/dist/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="Scripts2/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
}
@if (ViewBag.JsUIFrameworkType == "3")
{
    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="~/Scripts3/facebook/flux/dist/Flux.js"></script>
    <script src="~/Scripts3/EventEmitter/EventEmitter.js"></script>
}
</head>
<body>
    <ul id="menu">
        <li>@Html.ActionLink("Angular 1.x.x", "editor", "exruleseditor")</li>
        <li>@Html.ActionLink("Angular 2.x.x", "editor2", "exruleseditor")</li>
        <li>@Html.ActionLink("ReactJS [Facbook Flux]", "editor3", "exruleseditor")</li>
    </ul>
@if (ViewBag.JsUIFrameworkType == "1")
{
    @System.Web.Optimization.Scripts.Render("~/bundles/angular")
}
<section id="main">
@RenderBody()
<p>Copyright Prashant Mahajan 2016. All Rights Reserved. Last Updated: 08/04/2016</p>
</section>
@if (ViewBag.JsUIFrameworkType == "3")
{
    @System.Web.Optimization.Scripts.RenderFormat("<script src='{0}' type='text/babel'><script>", "~/bundles/exruleseditor_jsx")
}
<br /><br /><br /><br /><br /><br />
</body>
</html>