<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>@ViewBag.Title</title>
@System.Web.Optimization.Styles.Render("~/Content/css")
</head>
<body>
<ul id="menu">
<li>@Html.ActionLink("Exception Queue Rules Editor", "editor", "exruleseditor")</li>
</ul>
@System.Web.Optimization.Scripts.Render("~/bundles/angular")
<section id="main">
@RenderBody()
<p>Copyright Prashant Mahajan 2015. All Rights Reserved. Last Updated: 02/28/2015</p>
</section>
</body>
</html>